#body {
    background-image: url(./img1.jpeg);

}

.searchText {
    font-family: silkscreen-Bold;
    text-align: center;
}

.searchBrewery {
    font-family: silkscreen-Bold;
    margin-top: 20px;
    text-decoration: underline;

}

.labelStyle {
    font-family: silkscreen-Bold;
    margin-top: 20px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 15px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;

}

#fetchBtn {
    border: 2px solid black;
    border-radius: 15px;
}

.form-control {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.brewHotelSlot {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 15px;
    width: 600px;
    font-size: x-large;
    background-color: lavender;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#prevLoc {
    list-style: none;
    text-align: center;
}

.listLoc {
    background-color: lightsalmon;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}