#body {
    background-image: url(./img1.jpeg);

}

.searchText {
    font-family: silkscreen-Bold;
}

.searchBrewery {
    font-family: silkscreen-Bold;
    margin-top: 20px;
    text-decoration: underline;

}

.labelStyle {
    font-family: silkscreen-Bold;
    margin-top: 20px;
}

#brewerySlot {
    border: 5px solid black;
    font-size: x-large;
    background-color: white;
}

#hotelSlot {
    border: 5px solid black;
    margin-top: 20px;
    font-size: x-large;
    background-color: white;
}

.listLoc {
    list-style: none;
    background-color: white;
    border: 3px solid black;
}